@tailwind base;
@tailwind components;
@tailwind utilities;
.text-gradient {
  background: linear-gradient(to right, #8176af, #c0b7e8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
