@tailwind base;
@tailwind components;
@tailwind utilities;
.text-gradient {
  background: linear-gradient(to right, #8176af, #c0b7e8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.font-700 {
  font-size: 36px;
  font-weight: 700;
}
.font-700-thin {
  font-size: 36px;
  font-weight: 300;
}
.font-400-para {
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
/* * {
  border: 1px solid white;
} */
